.about {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;

    .bg-title {
        .about__img {
            height:60px;

            &:nth-child(1) {
                bottom:15%;
                right:6%;
            }

            &:nth-child(2) {
                top:22%;
                left:3%;
            }
        }
    }

    .about__box {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:35%;
        height:60%;
        border-radius : 60px;
        padding: 0 5%;

        position:absolute;
        z-index:99;

        .box__title {
            align-self: flex-start;
            margin-bottom:5%;
            width:90%;
        }

        h2 {
            justify-self:flex-start;
            font-size:30px;
        }
        
        p {
            width:90%;
            font-size:20px;
        }
    }

    .about__img {
        position : absolute;
        z-index:-99;
    }

    .img__burger {
        width:150px;
        top:10%;
        right:23%;
        transform: rotate(-25deg);
    }

    .img__laptop {
        width:150px;
        bottom:12%;
        left:25%;
    }
}