.services {
    display:flex;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;

    width:100%;
    height:100%;

    * { transition : all 0.5s; }

    .title__container {    
        .services__img {
            position : absolute;
            z-index: -99;
            width:60px;
            bottom:10%;
            right:1%;
        }
    }

    .services__twin-box {
        display:flex;
        
        .services__box {
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            text-align: center;

            padding:20px;
            margin:10px 20px;
            border-radius:40px;

            width:250px;
            height:250px;

            &:first-child {
                margin-top:40px;
            }

            .box__text {
                display:flex;
                flex-direction: column;
                align-items: center;

                font-size:19px;

                .box__title {
                    font-size:140%;
                    margin-bottom:10px;
                }
            }

            .box__img { width:35.5% }
        }
    }

    @media (max-width: 1670px) {
        .services__twin-box .services__box {
            width:200px;
            height:200px;

            .box__text { font-size:15px }
        }
    }

    @media (max-width:650px) {
        .services__twin-box .services__box {
            width:150px;
            height:150px;

            .box__text { font-size: 14px }
        }
    }

    @media (max-width:500px) {
        .services__twin-box .services__box {
            width:100px;
            height:100px;

            .box__text { font-size: 12px }
        }
    }
}