.works {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    * {
        transition: all 0.5s;
    }

    .title__container {
        .works__planet {
            position: absolute;
            bottom: 20%;
            right: 12%;
            z-index: -99;

            width: 6%;
        }
    }

    .filter__container {
        position: absolute;
        top: 12%;
        left: 18%;

        button {
            width: 150px;
            height: 50px;

            font-size: 16px;
            margin-right: 20px;
            color: white;
            border-radius: 20px;

            &:last-child {
                margin-right: 0px;
            }
        }

        .clicked {
            background: $color-red;
        }
    }

    .visible {
        visibility: visible !important;
        opacity: 1 !important;
    }

    .arrow {
        position: absolute;
        right: 5%;
        z-index: 99;

        height: 65px;
        width: 65px;

        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transform: rotate(90deg);

        &:hover .arrow--left,
        &:hover .arrow--right {
            background: $color-red;
        }

        .arrow--left,
        .arrow--right {
            position: absolute;
            z-index: 1;
            background-color: white;

            width: 45%;
            height: 12.5%;
            top: 42.5%;
        }

        .arrow--left {
            left: 15%;
            transform: rotate(-45deg);
        }

        .arrow--right {
            right: 15%;
            transform: rotate(45deg);
        }
    }

    .arrow-left {
        left: 5%;
        transform: rotate(-90deg);
    }

    .works__container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        .works__content {
            position: relative;

            display: flex;
            align-items: flex-end;

            width: 100%;
            height: 60%;

            scroll-behavior: smooth;

            .fishing-container,
            .box__3 {
                margin-bottom: 12vh;
            }

            .hidden {
                visibility: hidden;
                opacity: 0;
            }

            .hidden-left {
                transform: translate3d(-20vw, -20vw, 0vw) scale(0.5) !important;
            }

            .hidden-right {
                transform: translate3d(100vw, -20vw, 0vw) scale(0.5) !important;
            }

            .mid-active {
                transform: translate3d(calc(50vw - 50%), 2vw, 0vw) scale(1.1);
            }

            .right-active {
                transform: translate3d(calc(85vw - 100%), -5vw, 0vw);
            }

            .left-active {
                transform: translate3d(15vw, -5vw, 0vw);
            }

            .box__2 {
                width: 17%;
                position: absolute;
                transition: all 0.5s ease-in;
                &:nth-child(1) {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            .works__box {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                padding: 12% 40px 7% 40px;
                border-radius: 30px;

                transition: all 0.5s ease-in;
                cursor: pointer;

                .box__title {
                    align-self: flex-start;

                    font-size: 23px;
                    height: 25px;

                    .underline::after {
                        height: 3px;
                        bottom: -3px;
                    }
                }

                .box__img {
                    width: 100%;
                    padding-top: 15%;
                }
            }
        }
    }

    @media (max-width: 1400px) {
        .works__container {
            .works__content {
                .box__2 {
                    .works__box {
                        padding: 14% 35px 17% 35px;

                        .box__title {
                            font-size: 19px;
                        }
                        .box__img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1050px) {
        .works__container {
            .works__content {
                .box__2 {
                    width: 20%;
                    .works__box {
                        padding: 14% 30px 17% 30px;
                        .box__title {
                            font-size: 17px;
                        }
                        .box__img {
                            width: 100px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 720px) {
        .works__container {
            .works__content {
                .box__2 {
                    width: 20%;
                    .works__box {
                        padding: 14% 20px 17% 20px;

                        .box__title {
                            font-size: 15px;
                        }
                        .box__img {
                            width: 90px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 650px) {
        .arrow-left {
            left: 10%;
        }
        .arrow {
            right: 10%;
        }
        .filter__container {
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        .works__container {
            .works__content {
                overflow: hidden;
                height: 75%;
                .hidden-left {
                    transform: translate3d(0, 30vw, 0vw) scale(0.5) !important;
                }

                .hidden-right {
                    transform: translate3d(80vw, 30vw, 0vw) scale(0.5) !important;
                }

                .mid-active {
                    transform: translate3d(calc(50vw - 50%), -35vw, 0vw) scale(1.1);
                    width: 25%;
                }

                .right-active {
                    transform: translate3d(calc(85vw - 100%), 0, 0);
                    width: 25%;
                }

                .left-active {
                    transform: translate3d(15vw, 0, 0);
                    width: 25%;
                }

                .box__2 {
                    width: 28%;

                    .works_box {
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 620px) {
        .works__container {
            .works__content {
                .mid-active {
                    transform: translate3d(calc(50vw - 50%), -38vw, 0vw) scale(1.1);
                }
            }
        }
    }

    @media (max-width: 580px) {
        .works__container {
            .works__content {
                .mid-active {
                    transform: translate3d(calc(50vw - 50%), -40.5vw, 0vw) scale(1.1);
                    width: 25%;
                }
            }
        }
    }

    @media (max-width: 540px) {
        .filter__container {
            top: 15%;
        }
        .works__container {
            .works__content {
                .box__2 {
                    width: 30%;
                    .works__box {
                        padding: 14% 20px 17% 20px;
                        .box__title {
                            font-size: 13px;
                        }
                        .box__img {
                            width: 95px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 488px) {
        .works__container {
            .works__content {
                height: 60%;
                .box__2 {
                    .works__box {
                        .box__title {
                            font-size: 12px;
                        }
                        .box__img {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 430px) {
        .filter__container {
            button {
                font-size: 12px;
            }
        }
        .works__container {
            .works__content {
                .right-active {
                    transform: translate3d(calc(85vw - 100%), -1vw, 0);
                }

                .left-active {
                    transform: translate3d(15vw, -1vw, 0);
                }

                .box__2 {
                    width: 30%;
                    .works__box {
                        padding: 12% 20px 15% 20px;

                        .box__title {
                            font-size: 10px;
                        }
                        .box__img {
                            width: 75px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 384px) {
        .works__container {
            .works__content {
                .hidden-left {
                    transform: translate3d(0, 30vw, 0vw) scale(0.5) !important;
                }

                .hidden-right {
                    transform: translate3d(80vw, 30vw, 0vw) scale(0.5) !important;
                }

                .mid-active {
                    transform: translate3d(calc(50vw - 50%), -50vw, 0vw) scale(1.1);
                    width: 25%;
                }

                .right-active {
                    transform: translate3d(calc(90vw - 100%), 0vw, 0vw);
                    width: 25%;
                }

                .left-active {
                    transform: translate3d(10vw, 0vw, 0vw);
                    width: 25%;
                }
                .box__2 {
                    width: 35%;
                    .works__box {
                        .box__title {
                            font-size: 10px;
                        }
                        .box__img {
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
}
