// NAVBAR ----------------------------------------------------------------

.navbar {
    position : fixed;
    top:0;
    left:0;
    right:0;
    color : white;
    display : flex;
    justify-content : space-between;
    align-items : center;
    z-index : 5;
    margin-top : 5px;

    a {
        color : white;
    }

    .navbar__left {
        width : 30%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .logo__content {
            width : 250px;
            display : flex;
            margin-left:30%;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .navbar__right {
        width:40%;
        display: flex;
        justify-content: center;
        position : relative;

        nav {
            width:100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight : 400;
            letter-spacing: 0.035em;

            a {
                position : relative;
                width : auto;
                margin: 0 10px;
                cursor : pointer;
            }

            a::after {
                content : '';
                position : absolute;
                background : $color-red;
                width : 0px;
                height : 7px;
                transition : 0.4s;
                display : block;
            }

            a:hover::after {
                width: 100%;
            }

            a:last-child::after {
                display:none;
            }
        }
    }
    
    @media (max-width: 930px) {
        .navbar__left {

            .logo__content {
                margin-left:20%;
            }
        }
    }
}


// FULL SCREEN NAVBAR ----------------------------------------------------

.full-screen-navbar {

    visibility: hidden;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position : absolute;
    z-index:10;
    right:5%;
    top:10px;

    .full-screen-navbar__icon {
        width:fit-content;
        background: rgba(253, 253, 253, 0.349);
        backdrop-filter: $blur;
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        cursor:pointer;

        svg {
            font-size:45px;
            color:$color-red;
        }
    }

    .full-screen-navbar__links {

        nav {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                opacity:0;
                backdrop-filter: $blur;
                display:flex;
                justify-content: center;
                align-items: center;
                width:100px;
                color:$color-black;
                font-weight: bold;
                margin-bottom:10px;
                background: rgba(253, 253, 253, 0.349);
                padding: 8px 10px;
                border-radius: 60px;
            }
        }
    }



    @media (max-width: 800px) {
        visibility: visible;
    }
}


// RESP -----------------------------------

@media (max-width: 930px) {
    .navbar__left {

        .logo__content {
            margin-left:20%;
        }
    }
}

@media (max-width: 800px) {
    .navbar {
        .navbar__right {
            display:none;
        }
    }
    .social-media {
        display:none;
    }
}