
// PORTFOLIO (DRAG AND SCROLL) -------------------------------------------------
.drag {
  backdrop-filter: $blur;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.349);
  border-radius: 50px;
  padding: 0 1.9%;
  width: 85%;
  height:45%;
  

  .drag-container {
    height:80%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1.4% 0;

    &::-webkit-scrollbar {
      width: 15px;
      background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px #20202054;
      background-color: $color-red;
    }
    
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px transparent;
      background-color: transparent;
    }
  
    &:hover { cursor:grab }
  
    &.is-dragging {
      cursor: grabbing;
      cursor: -webkit-grabbing;
    }
  
    .box {
      position: relative;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0.65%;
  
      &:hover img { filter: brightness(80%) }
  
      &:hover > p { opacity: 1 }
      
      img {
        transition : all .5s;
        border-radius: 50px;
        width:auto;
        height:100%;
      }
  
      p {
        transition: all .5s;
        background: rgba(0, 0, 0, 0.664);
        color:white;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        position: absolute;
        bottom: 0;
        border-radius: 0 0 50px 50px;
      }
    }
  }
}

// --------------- CONFIRMATION BOX -----------------------------
.confirmation__container {
  transition: all .5s ease;
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 99;
  cursor: pointer;

  .confirmation__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    z-index: 2;

    .content__img {
      width: 60%;
      height: 10%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }
  }
  
  .container__background {
    position: absolute;
    background:rgba(43, 43, 43, 0.8);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
  }
}

// LOGO ---------------------------------------------------------------------------
.logo__content span {
  position : absolute;
  z-index:99;
  top:1%;
  left:10.5%;
  font-family : $font-titles; 
  font-size : 70px;
  font-weight : bold;
  width : 100px;
  cursor:pointer;
      
  background: linear-gradient(79.42deg, $color-orange -13.16%, $color-red 57.87%);
  
  filter: drop-shadow(3px 3px 3px black);
  
  -webkit-background-clip: text;
  background-clip : text;
  -webkit-text-fill-color: transparent;
}


// btn ------------------------------------------------------------------------------

.btn {
    backdrop-filter: blur(50px) brightness(1%) opacity(0.1);
    color:white;
    background-color:rgba(255, 255, 255, 0.2);
    border : 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px 30px;
    border-radius: 60px;
    transition: all 0.5s;
    font-size: 17px;
    cursor:pointer;

    &:hover {
      opacity : 1;
      background:$color-red;
      color:white;
    }
}

.underline {
  position:relative;
  &::after {
    position: absolute;
    content:'';
    height:6px;
    width:100%;
    bottom:-10px;
    left:0;
    background : white;
  }
}

.blur {
  background-color:rgba(255, 255, 255, .05);
  border : 1px solid rgba(255, 255, 255, .1);
  backdrop-filter: blur(2em) opacity(70%) brightness(100%);
  -webkit-backdrop-filter: blur(2em) opacity(70%) brightness(100%);
}


.bg-title {
  position : absolute;
  transform:translate(-50%,-50%);
  top:50%;
  left:50%;

  font-size:400px;
  font-weight: bold;
  transition : all 0.5s;

  color:transparent;
  -webkit-text-stroke: 0.5px #8888883f;
 
  // rgb(64,36,6)  /   #ff8f1741
  background:rgb(64,36,6);
  // rgb(13,7,1)   /   rgba(0, 0, 0, 0.801)
  text-shadow: 8px 8px 6px rgba(0, 0, 0, 0.801);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; 
}


.up {
  opacity:0;
  transition : all 0.5s;
  z-index:99;
  right:4%;
  bottom:7%;
  height:40px;
  width:40px;
  background:white;
  border-radius:50%;
  position : fixed;
  border:none;
  cursor:default;

  .up--left, .up--right {
    position: absolute;
    z-index: 1;
    background-color: black;
    border-radius : 1.5px;
    
    width: 18px;
    height: 7px;
    top: 16px;
  }
  
  .up--left {
    left: 7px;
    transform: rotate(-45deg);
  }
  
  .up--right {
    right: 7px;
    transform: rotate(45deg);
  }
}

.up---on {
  opacity: 1;
  cursor:pointer;
}