.about {
    .about__box {
        padding: 0 4% 0 5%;
    }

    .box__veille p {
        font-size: 17px;
    }

    .img__rocket {
        width: 300px;
        top: 8%;
        right: 20%;
    }

    .img__git {
        transform: rotate(15deg);
        width: 100px;
        top: 18%;
        right: 25%;
        z-index: 0;
    }

    .img__github {
        transform: rotate(-15deg);
        width: 100px;
        bottom: 18%;
        left: 25%;
        z-index: 0;
    }
}

// RESPONSIVE -------------------------------------

.about[id='veille'] {
    @media (max-width: 1700px) {
        .about__box {
            min-width: 650px;
            min-height: 550px;
        }
    }

    @media (max-width: 950px) {
        .about__box {
            min-width: 450px;
            min-height: 400px;
        }

        .box__veille {
            .box__title {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
            .btn {
                padding: 11px 14px;
                font-size: 15px;
            }
        }

        .img__git {
            width: 70px;
            top: 20%;
            right: 19%;
        }

        .img__github {
            width: 70px;
            bottom: 18%;
            left: 20%;
        }
    }

    @media (max-width: 600px) {
        .about__box {
            min-width: 350px;
            min-height: 300px;
            padding-right: 0;
        }

        .box__veille {
            .box__title {
                font-size: 21px;

                .underline::after {
                    height: 4px;
                    bottom: -5px;
                }
            }
            p {
                font-size: 12px;
            }
            .btn {
                padding: 9px 12px;
                font-size: 13px;
            }
        }

        .img__git {
            width: 60px;
            top: 20%;
            right: 13%;
        }

        .img__github {
            width: 60px;
            bottom: 19%;
            left: 14%;
        }
    }
}
