/* passions-conflict-regular - latin */
@font-face {
  font-family: 'Passions Conflict';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/passions-conflict-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/font/passions-conflict-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/font/passions-conflict-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/font/passions-conflict-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/font/passions-conflict-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/font/passions-conflict-v3-latin-regular.svg#PassionsConflict') format('svg'); /* Legacy iOS */
}

$blur: blur(5px);


$color-orange : #FF8E17;
$color-red: #b9302c;
$color-black: rgb(29,29,29);


$font-primary : 'calibri';
$font-titles : 'Passions Conflict', cursive;


*, .root {
  margin: 0;
  padding: 0;
  font-family: $font-primary;

  &::selection {
    color : white;
    background : $color-red;
  }

  // scrollbar ----------------------

  &::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(44, 44, 44,0.3);
    background-color: white;
  }
  
  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(44, 44, 44,0.3);
    border-radius: 10px;
    background-color: transparent;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color:white;
  background-color : rgb(29,29,29);
  overflow-x:hidden;
}

a {
  text-decoration: none;
  cursor : pointer;
  color:white;
}

.section {
  width:100%;
  height:100vh;
  position : relative;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  background : none;
  border : none;
  cursor : pointer;
}

// TOAST -------------------------------------------

/* Class for the displayed toast */
.Toastify__toast { //
  background: rgb(29,29,29);
}

.Toastify__toast-body {
  font-size: 14px;
  color: white;
}

/* Class for the progress bar */
.Toastify__progress-bar {
  background: rgb(255, 97, 79);
}

/* Class for the close button. */
.Toastify__close-button {
  color: white;
}

.Toastify__progress-bar--success {
  background: green;
}

.Toastify__progress-bar--error {
  background: rgb(255, 97, 79);
}